/node_modules
/public/hot
/public/*
/dist
/src/backend/php
/src/backend/storage
.devdbrc
*.txt
/src/frontend
/src/listener/node_modules
/src/listener/nodejs
/src/jdk
/src/device_sdk
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/media
